<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="first_full" class="Bean.First.First">
        <constructor-arg value="hello world"/>
    </bean>
    <bean id="first_no" class="Bean.First.First"/>
</beans>