<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!--第一张方式的配置-->
    <bean id="first_full" class="Bean.First.First">
        <constructor-arg value="hello world"/>
    </bean>
    <bean id="first_no" class="Bean.First.First"/>
    <!--第二种方式的配置-->

    <!--base-package的赋值是需要扫描的的文件已经子类文件夹-->
    <context:component-scan base-package="Bean"/>
</beans>